.low{
  text-align: center;
  font-size: 7vw;
  background-color: green;
}

.med{
  text-align: center;
  font-size: 7vw;
  background-color: black;
  text-decoration-color: : white;
}

.high{
  text-align: center;
  font-size: 7vw;
  background-color: red;
}
