<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rock-Paper-Scissors</title>

    <link rel="stylesheet" href="rockpaperStyle.css">

    <script src="../src/Rockpaper.js"></script>
  </head>
  <body>
    <h1>Please choose Rock, Paper or Scissors</h1>
    <div>
      <button name="choice" value="Rock" ><img src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/701/dwayne-the-rock-johnson-evolution-1518551020.jpg?resize=980:*'></button>
      <button name="choice" value="Paper" ><img src='https://e3.365dm.com/19/04/1600x900/skynews-papers-news_4640129.jpg?bypass-service-worker&20190414222054'> </button>
      <button name="choice" value="Scissors" ><img src='https://images.schoolspecialty.com/images/2006126_A_1F5C2530FCD84B90803D65D7235EEDEC.jpg'></button>
    </div>
    <p>You chose:</p>
    <p>The computer chose:</p>
    <h2></h2>
  </body>

</html>
